<nav class="l-sidebar">
    <div class="menu">

        <p class="menu-title">Getting started</p>
        <ul class="menu-list">
            <li><a href="#about">About</a></li>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#usage">Usage</a></li>
            <li><a href="#license">License</a></li>
            <li><a href="#support">Support</a></li>
        </ul>

    </div>
</nav>

<main class="l-main">
    <div class="l-container">
        <div data-router="1"></div>
    </div>
</main>